/* Header */
header {
    background-color: orange;
    width: 612px;
    text-align: center;
}

/* Main */
main {
    background-color: teal;
    width: 612px;
    text-align: center;
}

/* Footer */
footer {
    background-color: lightblue;
}
